@import 'tailwindcss';
@plugin '@tailwindcss/forms';

html {
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-950);
}

@variant dark {
    html {
        background-color: var(--color-neutral-950);
        color: var(--color-neutral-50);
    }
}


html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
}